body{
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

/* Heading Style */
h1{
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}

a{ color: aquamarine;
  font-size: 16px;
  text-decoration: none;

}
a:hover{
  font-weight: bold;
}

h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p{
  font-size: 21px;
  color: gray;
}

div{
  padding: 16px;
}

footer{
  text-align: right;
  color: gray;
}
